<p>
  nuevo works!
</p>
<label for="">Formulario</label>
<input type="text" ngModel="Nuevo Movimiento">
<label for="">Fecha</label>
<input type="text" [ngModel]="movimiento.fecha">
<label for="">Importe</label>
<input type="number" [(ngModel)]="movimiento.importe">

<div *ngFor="let tipo of tipos">
  <input [attr.id]="tipo" name="tiposGroup" [(ngModel)]="movimiento.tipo" [value]="tipo" type="radio" required>
  <!--para enlazar el texto al botón se usa el atributo for-->
  <label [attr.for]="tipo">{{tipo}}</label>
</div>
<label for="">Categoría</label>
<select name="categoria" [(ngModel)]="movimiento.categoria">
    <option 
        *ngFor="let categoria of categorias"
        [value]="categoria"> 
        {{categoria}} 
    </option>
</select>
<div>
  <button (click)="guardarMovimiento()">Guardar</button>
</div>
<div>
  {{ movimiento | json}}
</div>